
:root {
--cor-letra: black;
  --cor-article: green;
  --cor-fundo: black;
  --cor-footer: lightgreen;
  --borda: solid black 2px;
  
}


body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: var(--cor-fundo);
  color: var(--cor-letra);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
  
  
}

header, main, footer {
max-width: 800px;
margin: 20px auto;
padding: 20px;
background-color: var(--cor-fundo);
border: var(--borda);
}

  header {

color: #fff;
text-align: center;
  display: flex;
  flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
}

header > img {
  
  width: 70%;
  border: var(--borda);
  position: relative;
  right: 20px;
}


main {
display: flex;
flex-direction: column;
  justify-content: space-around;
gap: 20px;
  width: 80%;
  border: var(--borda);
  
  
}

article {
background-color: var(--cor-article);
padding: 0px;
border: 1px solid white;
  color: var(--cor-letra);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  
}

h2 {
font-size: 24px;
}



.contatos p {
margin-bottom: 10px;
}

footer {
text-align: center;
color: #666;
font-size: 14px;
  background-color: var(--cor-footer);
  
}



iframe {
  
  width: 90%;
}

.endereço > .container > img {
  
  width: 100%;
}

.container{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 10px;
}








.catalogue {
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  
  
}

.catalogue > img {
  
  width: 40vw;
  
}

#left, #right {
  margin: 10px;
  width: 30px;
  height: 30px;
  
  border: solid black 1px;
}

#left{
  
  border-radius: 15px 0 0 15px;
  
}

#right {
  
  border-radius: 0 15px 15px 0;
  
}


#ponto{
  
  font-size: 100px;
  margin: 0;
  padding: 0;
  
  
}


.title > img {
  
  width: 30px;
  
  
  
}

